<mat-card class="card">
    <form [formGroup]="form"
          (ngSubmit)="validate()">
        <mat-card-content>
            <div class="form-field-container">
                <mat-form-field>
                    <mat-label>Montant désiré</mat-label>
                    <input matInput
                           required
                           type="number"
                           placeholder="Veuillez saisir une valeur"
                           formControlName="amount">
                </mat-form-field>

                <button mat-icon-button
                        type="button"
                        id="plusButton"
                        [matTooltip]="'Montant suivant'"
                        [disabled]="isLoading"
                        (click)="manageAmount('plus')">
                    <mat-icon>add</mat-icon>
                </button>

                <button mat-icon-button
                        type="button"
                        id="minusButton"
                        [matTooltip]="'Montant précédent'"
                        [disabled]="!amount || isLoading"
                        (click)="manageAmount('minus')">
                    <mat-icon>remove</mat-icon>
                </button>

                <mat-progress-spinner mode="indeterminate"
                                      *ngIf="isLoading"
                                      [diameter]="20"></mat-progress-spinner>
            </div>

            <button mat-raised-button
                    color="primary"
                    type="submit"
                    id="validateButton"
                    [disabled]="!amount || isLoading">
                VALIDER
            </button>

            <ng-container *ngIf="calculatorResult">
                <ng-container *ngIf="calculatorResult.equal; else amountNotPossible">
                    <div id="correctAmountResultBlock">
                        <p>Votre montant est composé des cartes suivantes :</p>

                        <div *ngFor="let card of calculatorResult.equal.cards">- {{card}} €</div>
                    </div>
                </ng-container>

                <ng-template #amountNotPossible>
                    <div id="otherPossibleAmounts">
                        <p>Le montant désiré n'est pas disponible, merci de sélectionner une autre proposition :</p>

                        <mat-selection-list color="primary"
                                            multiple="false"
                                            (selectionChange)="onSelectionChange($event.options[0]?.value)">
                            <mat-list-option *ngIf="calculatorResult.floor"
                                             [value]="calculatorResult.floor">{{calculatorResult.floor.value}}</mat-list-option>
                            <mat-list-option *ngIf="calculatorResult.ceil"
                                             [value]="calculatorResult.ceil">{{calculatorResult.ceil.value}}</mat-list-option>
                        </mat-selection-list>
                    </div>
                </ng-template>
            </ng-container>
        </mat-card-content>
    </form>
</mat-card>


