mat-card.mat-card {
    max-width: 400px;
    margin: 20vh auto;

    div.form-field-container {
        mat-form-field.mat-form-field {
            width: 200px;
        }
        .error {
            margin-bottom: 10px;
        }
        button.mat-icon-button {
            mat-icon.mat-icon {
                color: #616161;
            }
        }
        mat-progress-spinner.mat-progress-spinner {
            display: inline-block;
            margin-left: 10px;
        }
    }

    .mat-list-base .mat-list-option {
        font-size: 14px;
    }

    div#correctAmountResultBlock,
    div#otherPossibleAmounts {
        margin-top: 20px
    }
}
